<header>
    <nav>
        <ul class="nav">
            <li><a href="/">Webshop</a></li>
            <li><a href="/items">Items</a></li>
            <li><a href="/items/new">Add Item</a></li>
            <li><a href="/auth/login">Login</a></li>
            <li><a href="/auth/signup">Signup</a></li>
        </ul>
    </nav>
</header>