<h1>WEBSHOP</h1>
<section class="container">
    <h2 class="section-title">FRUIT</h2>
    <div id="carousel">
        <div class="shop-item">
            <span class="shop-item-title">Lemon</span><br>
            <img class="shop-item-image" src="images/lemon.png">
            <div class="shop-item-details">
                <span class="shop-item-price">$1</span>
                <button id="button" type="button">ADD TO CART</button>
            </div>
        </div>
        <div class="shop-item">
            <span class="shop-item-title">Lime</span><br>
            <img class="shop-item-image" src="images/lime.png">
            <div class="shop-item-details">
                <span class="shop-item-price">$0.75</span>
                <button id="button" type="button">ADD TO CART</button>
            </div>
        </div>
        <div class="shop-item">
            <span class="shop-item-title">Orange</span><br>
            <img class="shop-item-image" src="images/orange.png">
            <div class="shop-item-details">
                <span class="shop-item-price">$1.25</span>
                <button id="button" type="button">ADD TO CART</button>
            </div>
        </div>
        <div class="shop-item">
            <span class="shop-item-title">Apple</span><br>
            <img class="shop-item-image" src="images/apple.png">
            <div class="shop-item-details">
                <span class="shop-item-price">$1</span>
                <button id="button" type="button">ADD TO CART</button>
            </div>
        </div>
        <div class="shop-item">
            <span class="shop-item-title">Banana</span><br>
            <img class="shop-item-image" src="images/banana.png">
            <div class="shop-item-details">
                <span class="shop-item-price">$0.50</span>
                <button id="button" type="button">ADD TO CART</button>
            </div>
        </div>
        <div class="shop-item">
            <span class="shop-item-title">Dragon Fruit</span><br>
            <img class="shop-item-image" src="images/dragon_fruit.png">
            <div class="shop-item-details">
                <span class="shop-item-price">$3</span>
                <button id="button" type="button">ADD TO CART</button>
            </div>
        </div>
        <div class="shop-item">
            <span class="shop-item-title">Mango</span><br>
            <img class="shop-item-image" src="images/mango.png">
            <div class="shop-item-details">
                <span class="shop-item-price">$2.25</span>
                <button id="button" type="button">ADD TO CART</button>
            </div>
        </div>
        <div class="shop-item">
            <span class="shop-item-title">Pear</span><br>
            <img class="shop-item-image" src="images/pear.png">
            <div class="shop-item-details">
                <span class="shop-item-price">$0.75</span>
                <button id="button" type="button">ADD TO CART</button>
            </div>
        </div>
        <div class="shop-item">
            <span class="shop-item-title">Strawberry</span><br>
            <img class="shop-item-image" src="images/strawberry.png">
            <div class="shop-item-details">
                <span class="shop-item-price">$0.25</span>
                <div id="button">
                    <button id="button" type="button">ADD TO CART</button>
                </div>
            </div>
        </div>
        <div class="shop-item">
            <span class="shop-item-title">Raspberry</span><br>
            <img class="shop-item-image" src="images/raspberry.png">
            <div class="shop-item-details">
                <span class="shop-item-price">$0.15</span>
                <div id="button">
                    <button id="button" type="button">ADD TO CART</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container">
    <h2 class="section-title">CART</h2>
    <div class="cart-row">
        <span class="cart-item cart-header cart-column">ITEM</span>
        <span class="cart-price cart-header cart-column">PRICE</span>
        <span class="cart-quantity cart-header cart-column">QUANTITY</span>
    </div>
    <div class="cart-items">

    </div>
    <div class="cart-total">
        <strong class="cart-total-title">Total</strong>
        <span class="cart-total-price">$0</span>
    </div>
    <button id="purchase-button" type="button">PURCHASE</button>
</section>