<h1>WEBSHOP</h1>
<h2>Click a fruit and use left/right arrow keys to scroll</h2>
<div id="carousel">
    <div class="item">
        <span class="shop-item-title">Lemon</span>
        <img class="shop-item-image" src="images/lemon.png">
        <div class="shop-item-details">
            <span class="shop-item-price">$1</span>
            <button id="button" type="button">ADD TO CART</button>
        </div>
    </div>
    <div class="item">
        <span class="shop-item-title">Lime</span>
        <img class="shop-item-image" src="images/lime.png">
        <div class="shop-item-details">
            <span class="shop-item-price">$0.75</span>
            <button id="button" type="button">ADD TO CART</button>
        </div>
    </div>
    <div class="item">
        <span class="shop-item-title">Orange</span>
        <img class="shop-item-image" src="images/orange.png">
        <div class="shop-item-details">
            <span class="shop-item-price">$1.25</span>
            <button id="button" type="button">ADD TO CART</button>
        </div>
    </div>
    <div class="item">
        <span class="shop-item-title">Apple</span>
        <img class="shop-item-image" src="images/apple.png">
        <div class="shop-item-details">
            <span class="shop-item-price">$1</span>
            <button id="button" type="button">ADD TO CART</button>
        </div>
    </div>
    <div class="item">
        <span class="shop-item-title">Banana</span>
        <img class="shop-item-image" src="images/banana.png">
        <div class="shop-item-details">
            <span class="shop-item-price">$0.50</span>
            <button id="button" type="button">ADD TO CART</button>
        </div>
    </div>
    <div class="item">
        <span class="shop-item-title">Dragon Fruit</span>
        <img class="shop-item-image" src="images/dragon_fruit.png">
        <div class="shop-item-details">
            <span class="shop-item-price">$3</span>
            <button id="button" type="button">ADD TO CART</button>
        </div>
    </div>
    <div class="item">
        <span class="shop-item-title">Mango</span>
        <img class="shop-item-image" src="images/mango.png">
        <div class="shop-item-details">
            <span class="shop-item-price">$2.25</span>
            <button id="button" type="button">ADD TO CART</button>
        </div>
    </div>
    <div class="item">
        <span class="shop-item-title">Pear</span>
        <img class="shop-item-image" src="images/pear.png">
        <div class="shop-item-details">
            <span class="shop-item-price">$0.75</span>
            <button id="button" type="button">ADD TO CART</button>
        </div>
    </div>
    <div class="item">
        <span class="shop-item-title">Strawberry</span>
        <img class="shop-item-image" src="images/strawberry.png">
        <div class="shop-item-details">
            <span class="shop-item-price">$0.25</span>
            <div id="button">
                <button id="button" type="button">ADD TO CART</button>
            </div>
        </div>
    </div>

</div>