<h2>Search items</h2>
<form action="/items" method="GET">
    <label>Name</label>
    <input type="text" name="name" value="<%= searchItems.name %>">
    <button type="submit">Search</button>
</form>
<div class="shop-items">
    <% items.forEach(item=> { %>
        <div class="shop-item">
            <div class="shop-item-title"></div>
            <%= item.name %>
        </div>
        <% }) %>
</div>