<label>Email</label>
<input type="email" id="email" name="email" value="<%= user.email %>" required>
<label>Password</label>
<input type="password" id="password" name="password" value="<%= user.password %>" required>