<link href="/css/style.css" rel="stylesheet" type="text/css">

<h2>Login</h2>
<form action="/login" method="POST">
  <div>
    <%- include("_form_fields") %>
  </div>
  <button type="submit">Login</button>
</form>
<a href="/signup">Register</a>